:root {
  --hidrogest-azul-profundo: #153D56;
  --hidrogest-azul-agua: #55BBDF;
  --hidrogest-verde-profundo: #00524D;
  --hidrogest-verde-natural: #659368;
  --hidrogest-verde-nevoa: #CFDDBA;
  --hidrogest-branco: #FFFFFF;
}
